<style>
@media (max-width: 992px) {
  .dropdown {
    background-color: #f5f5f5;
  }
}
</style>
<c-header site-name='App' site-url='/'>
  <a routerLink='/global' slot='items'>Global</a>
</c-header>
<c-navigation>
  <a 
    *ngFor='let link of links' 
    slot='{{link.type}}-items' 
    routerLink={{link.url}} 
    [routerLinkActiveOptions]='{ exact: true }'
    [routerLinkActive]="'active'">
    {{link.text}}
  </a>

  <div ngbDropdown class="d-inline-block dropdown" slot="secondary-items">
    <a id="dropdownBasic1" ngbDropdownToggle>User</a>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button
        *ngFor='let item of dropdownData'
        ngbDropdownItem
        class='dropdown-item'
      >{{item.name}}</button>
    </div>
  </div>

  <c-navigation slot="sub" [ngClass]= "isSubActive ? 'active' : ''">
      <a
        *ngFor='let menu of subMenuData'
        slot='{{menu.type}}-items'
        routerLink='/info/{{menu.url}}'
        routerLinkActive 
        #rla = "routerLinkActive"
        [attr.active]="rla.isActive ? true : null"
      >
      {{menu.text}}
      </a>
  </c-navigation>

</c-navigation>