<c-header site-name='App' site-url='/'>
  <a routerLink='/global' slot='items'>Global</a>
  <c-navigation slot="navigation">
    <a 
      *ngFor='let link of links' 
      slot='primary-items' 
      routerLink={{link.url}} 
      [routerLinkActive]="'active'">{{link.text}}</a>
  
      <div ngbDropdown class="d-inline-block" slot="secondary-items">
        <a id="dropdownBasic1" ngbDropdownToggle>User</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Profile</button>
          <button ngbDropdownItem>Settings</button>
        </div>
      </div>
  </c-navigation>
</c-header>